
body{
  overflow: hidden;
  font-family: monospace;
}
.contenedor-stream{
	width: 90%;
	margin: 0 auto;
  padding-top: 25px;
}

.boton-conectar {
    background: #0489B1;
    color: #fff;
    width: 200px;
    margin-top: 20px;
}
.boton-enviar {
    background: #0489B1;
    color: #fff;
    width: 200px;
    float: right;
    margin-right: 10%;
    margin-top: 20px;
}
.boton-conectar:hover {
      background: #337ab7;
      color: #fff;
      width:200px;
  }
.boton-enviar:hover {
      background: #337ab7;
      color: #fff;
      width:200px;
  }
.table {
    padding: 30px 10px;
    border: PowderBlue 5px solid;
    border-radius: 20px;
    width: 30%;
    background-color: #CEE3F6;
    min-width: 300px;
}

.contenedor-mensaje{
	height: 500px;
}

div#messages {
    margin-top: 20px;
    width: 90%;
    box-shadow: 0 0 10px #ccc;
    height: 200px;
    overflow-y: scroll;
    padding: 15px
}

textarea#yourMessage {
    border: none;
    box-shadow: 0 0 15px #ccc;
    margin-top: 20px;
    width: 90%;
    padding: 15px;
}
.contenedor-left{
	width: 40%;
	float:left;
}
.otroID{
	margin-top: 20px;
}

.header {
    text-align: center;
    height: 80px;
    background-color: #2c313a;
    font-size: 32px;
    color: #fff;
    padding-top: 15px;
}

#loginconexion {
    display: block;
    background-image: url(cp.jpg);
    margin: 0;
    
    padding: 10% 0;
    background-size: cover;
}

#mensajerespuesta{
	display:none;
  font: arial;

}

.boton-cerrar {
    float: right;
    margin-top: -4px;
    margin-bottom: 10px;
    background: #0489B1; 
}
.boton-cerrar:hover {
      background: #337ab7;
  }

#camaraon{
  display: none;
}
.icono-camara {
    float: right;
    max-width: 42px;
    margin: -10px 100px 0 0;
    cursor: pointer;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

div#container-camara {
    float: left;
    width: 50%;
    margin-left: 10%;
}
    
div#camarablock video {
    width: 100%;
}

